* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(boxsizing.htc);
   }

/** body **/

body {
    background: DarkSlateGray;
    color: FloralWhite;
    }

/** row & column **/

.riga {
    width: 100%;
    max-width: 960px;
    min-width: 720px;
    margin: 0 auto;
   }

[class*='colonna-'] {
    float: left;
    display: block;
    padding: 0 15px;
   }

.colonna-1-3 {
    width: 33.33%;
   }

.colonna-1-2 {
    width: 50%;
   }

.colonna-1 {
    width: 100%;
   }

/** img **/   

img.scala {
    max-width:100%;
    height:auto;
    width: auto;
   }