* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(boxsizing.htc);
   }

/* header */

header {
    background-color: #009688;
    }

/* text styles */

h1 {
    color: floralwhite;
    font-family: 'Fira Mono';
    font-size: 34px;
    margin-block-start: 1.875em;
    margin-block-end: 1.875em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

h2 {
    color: floralwhite;
    font-family: 'Fira Mono';
    font-size: 28px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    }    

h3 {
    font-family: 'Fira Mono';
    color: floralwhite;
    font-size: 22px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    }    

h5 {
    font-family: 'Fira Mono';
    color: floralwhite;
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    }    

h6 {
    font-family: 'arial';
    color: DimGray;
    font-size: 12px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: italic;
    }  

p  {
    color: floralwhite;
    font-weight: normal;
    font-style: normal;
    font-family: 'Fira Mono';
    }   
 
/* link colors */

a:link {
    color: floralwhite;
    background-color: transparent;
    text-decoration: none;
    }

a:visited {
    color: floralwhite;
    background-color: transparent;
    text-decoration: none;
    }

a:hover {
    color: floralwhitei;
    background-color: transparent;
    text-decoration: underline;
    }

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    }


/* text color li */

li {
    color: floralwhite;
    }

ul {
    list-style-type: none;
    }
        

/* h1 print color */

@media print {
    h1 {color: black;}
    }

/* body */

body {
    background: DarkSlateGray;
    }

/* column */

[class*='col-'] {
    float: left;
    display: block;
    padding: 0px;
   }

.col-4 {
    width: 33.33%;
    height: 100%;
    display: table-cell;
   }

.col-6 {
    width: 50%;
    height: 100%;
    display: table-cell;
   }

.col-12 {
    width: 100%;
    height: 100%;
    display: table-cell;
   }

.grid {
    width: 100%;
    /* max-width: 1400px;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    }   

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}   

/* img */   

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    }

.text {
    background-color: DarkSlateGray;
    color: floralwhite;
    font-family: 'Fira Mono';
    font-size: 24px;
    padding: 16px 32px;
    } 
    
/* footer */ 

footer {
    background: DarkSlateGray;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    }

/* box */     

.box-sub {
    max-width: 100%;
    display: block;
    height: auto;
    color: floralwhite;
    font-family: 'Fira Mono';
    font-style: bold;
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    }

.box-name {
    max-width: 100%;
    height: auto;
    color: floralwhite;
    font-family: 'Fira Mono';
    font-style: normal;
    font-size: 22px;
    padding: 15px;
    }
    
.box-info {
    max-width: 100%;
    height: auto;
    color: floralwhite;
    font-family: 'Fira Mono';
    font-style: normal;
    font-size: 18px;
    padding: 15px;
    }

.box-social {
    max-width: 100%;
    display: block;
    height: auto;
    color: floralwhite;
    font-family: 'Fira Mono';
    font-style: bold;
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    }    